<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">Profile</a>

            <a ng-click="model.updateUser(model.user)">
                <span class="pull-right glyphicon glyphicon-ok ab-white-icons btn-lg"></span>
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <label for="firstName">First Name</label>
        <input name="firstName"
               class="form-control"
               placeholder="Alice"
               ng-model="model.user.firstName"
               id="firstName"/>

        <label for="lastName">Last Name</label>
        <input name="lastName"
               class="form-control"
               ng-model="model.user.lastName"
               placeholder="Wonderland"
               id="lastName"/>

        <label for="username">Username</label>
        <input name="username"
               class="form-control"
               ng-model="model.user.username"
               value="Alice"
               readonly
               id="username"/>

        <label for="email">Email</label>
        <input name="email"
               type="email"
               class="form-control"
               value="alice@wonderland.com"
               placeholder="alice@wonderland.com"
               id="email"/>

        <label for="dob">Date of Birth</label>
        <input name="dob"
               type="date"
               class="form-control"
               placeholder="mm/dd/yyyy"
               id="dob"/>


        <a class="btn btn-block btn-primary" href="#!/user/{{model.user._id}}/website" role="button">Websites</a>
        <!--<a class="btn btn-block btn-primary" ng-click="model.updateUser()" role="button">Update</a>-->
        <a class="btn btn-block btn-danger" ng-click="model.deleteUser(model.user._id)" role="button">Unregister</a>
        <a class="btn btn-block btn-danger" href="#!/login" role="button">Logout</a>


    </div>
</div>