<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">Profile</a>

            <a ng-click="model.updateUser(model.user)">
                <span class="pull-right glyphicon glyphicon-ok ab-white-icons btn-lg"></span>
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>

        <div ng-show="model.confMessage" class="ab-margin-bottom-spacing alert alert-success">
            {{model.confMessage}}
        </div>

        <label for="firstName">First Name</label>
        <input name="firstName"
               class="form-control"
               placeholder="Alice"
               ng-model="model.user.firstName"
               id="firstName"/>

        <label for="lastName">Last Name</label>
        <input name="lastName"
               class="form-control"
               ng-model="model.user.lastName"
               placeholder="Wonderland"
               id="lastName"/>

        <label for="username">Username</label>
        <input name="username"
               class="form-control"
               ng-model="model.user.username"
               readonly
               id="username"/>

        <label for="email">Email</label>
        <input name="email"
               type="email"
               class="form-control"
               ng-model="model.user.email"
               placeholder="alice@wonderland.com"
               id="email"/>

        <label for="phone">Phone Number</label>
        <input name="phone"
               type="tel"
               class="form-control"
               ng-model="model.user.phone"
               placeholder="8001234567"
               id="phone"/>


        <a class="btn btn-block btn-primary" href="#!/user/{{model.user._id}}/website" role="button">Websites</a>
        <a class="btn btn-block btn-danger" ng-click="model.deleteUser(model.user._id)" role="button">Unregister</a>
        <a class="btn btn-block btn-danger" href="#!/login" role="button">Logout</a>


    </div>
</div>