<nav class="navbar navbar-default navbar-fixed-top">

    <a class="navbar-brand navbar-left" href="#!">
        <img class="ab-home-navbar-logo" src="http://bhavsar-alark-webdev.herokuapp.com/project/logos/bK-small-79px.png">
    </a>

    <div class="btn-group pull-right ab-home-navbar-buttons">
        <button type="button" class="btn navbar-btn btn-primary">Register</button>
        <button type="button" class="btn navbar-btn btn-success">Sign in</button>
    </div>
</nav>


<div class="container-fluid">

    <div class="ab-search">

        <img src="http://bhavsar-alark-webdev.herokuapp.com/project/logos/booKlub-large-hdg.png" width="100%">

        <input placeholder="The Sun Also Rises"
               ng-model="model.searchQuery"
               class="form-control"/>
        <button ng-click="model.searchBookByTitle(model.searchQuery)" class="btn btn-primary btn-block">
            Search By Title
        </button>
        <button ng-click="model.searchBookByAuthor(model.searchQuery)" class="btn btn-primary btn-block">
            Search By Author
        </button>

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>


        <ul class="list-group">
            <li ng-repeat="book in model.books" class="list-group-item media">
                <div class="row">
                    <div class="col-sm-8 ab-margin-bottom-spacing">
                        <a class="ab-home-links" href="#!/details/{{book.id}}">
                            {{book.volumeInfo.title}}
                        </a>
                    </div>

                    <div class="col-sm-4">
                        <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" sizes="50%"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
