input, textarea, .btn, img {
    margin-bottom: 5px;
}

.ab-book-details {
    width: 75%;
    margin: auto;
    text-align: center;
}

.ab-search {
    width: 600px;
    margin: auto;
    margin-top: 10px;
    text-align: justify;
}

.ab-search-box.img {
    margin-bottom: 5px;
}

.ab-wood-bg {
    background-image: url("http://wickes.scene7.com/is/image/travisperkins/largeNormal/Decorative-Wallpaper-Superfresco-Colour-Kia-Decorative-Wallpaper-Cream~G0205_142325_00?defaultImage=travisperkins/missing-product"), url("http://wallpapercave.com/wp/BhcQpIw.jpg");
    background-size: 60%, cover;
    background-position: center;
    background-repeat: repeat-y, repeat-y;
}