<nav class="navbar navbar-page-color navbar-fixed-top">

    <div class="navbar-header">

        <a href="#!/user/{{model.userID}}/website/{{model.webID}}/page">
            <span class="pull-left glyphicon glyphicon-chevron-left ab-black-icons btn-lg"></span>
        </a>

        <a class="navbar-brand">Widgets</a>

        <a href="#!/user/{{model.userID}}/website/{{model.webID}}/page/{{model.pageID}}/widget/new">
            <span class="pull-right glyphicon glyphicon-plus ab-black-icons btn-lg"></span>
        </a>

    </div>

</nav>


<ul widgetSort ng-model="widgets" class="container-fluid">

    <li class="ab-widget-div container-fluid" ng-repeat="widget in model.widgets">

        <div ng-switch="widget.widgetType">

            <div class="ab-glyphicon-overlapping-content">

                <a href="#!/user/{{model.userID}}/website/{{model.webID}}/page/{{model.pageID}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>

                <span class="glyphicon glyphicon-align-justify"></span>
            </div>

            <div ng-switch-when="HEADING">
                <ng-include src="'views/widget/templates/widget-heading.view.client.html'">
            </div>

            <div ng-switch-when="IMAGE">
                <ng-include src="'views/widget/templates/widget-image.view.client.html'">
            </div>

            <div ng-switch-when="YOUTUBE">
                <ng-include src="'views/widget/templates/widget-youtube.view.client.html'">
            </div>

            <div ng-switch-when="HTML">
                <ng-include src="'views/widget/templates/widget-html.view.client.html'">
            </div>
        </div>

    </li>

</ul>


<nav class="navbar navbar-page-color navbar-fixed-bottom">

    <div class="navbar-header">

        <a href="#!/profile/{{model.userID}}">
            <span class="pull-right glyphicon glyphicon-user ab-black-icons btn-lg"></span>
        </a>

    </div>

</nav>
