<body>

    <nav class="navbar navbar-page-color navbar-fixed-top">

        <div class="navbar-header">

            <a href="#!/user/{{model.userID}}/website/{{model.webID}}/page/{{model.pageID}}/widget">
                <span class="pull-left glyphicon glyphicon-chevron-left ab-black-icons btn-lg"></span>
            </a>

            <a class="navbar-brand">Choose Widget</a>

        </div>

    </nav>


    <div class="container-fluid">

        <ul class="list-group">

            <li>
                <a class="list-group-item" ng-click="model
                .createWidget({'widgetType': 'HEADING', 'size': 0, 'text': ''})">
                    Header
                </a>
            </li>

            <li>
                <a class="list-group-item"
                   href="#!/user/{{model.userID}}/website/{{model.webID}}/page/{{model.pageID}}/widget/new">
                    Label
                </a>
            </li>

            <li>
                <a class="list-group-item" ng-click="model
                .createWidget({'widgetType': 'HTML', 'text': ''})">
                    HTML
                </a>
            </li>

            <li>
                <a class="list-group-item"
                   ng-click="model.createWidget({'widgetType': 'TEXT', 'size': 0, 'text': '', 'formatted': true})">
                    Text Input
                </a>
            </li>

            <li>
                <a class="list-group-item"
                   href="#!/user/{{model.userID}}/website/{{model.webID}}/page/{{model.pageID}}/widget/new">
                    Link
                </a>
            </li>

            <li>
                <a class="list-group-item"
                   href="#!/user/{{model.userID}}/website/{{model.webID}}/page/{{model.pageID}}/widget/new">
                    Button
                </a>
            </li>

            <li>
                <a class="list-group-item" ng-click="model
                .createWidget({'widgetType': 'IMAGE', 'width': '100%', 'size': 0, 'text': '', 'url': ''})">
                    Image
                </a>
            </li>

            <li>
                <a class="list-group-item" ng-click="model
                .createWidget({'widgetType': 'YOUTUBE', 'width': '100%', 'size': 0, 'text': '', 'url': ''})">
                    YouTube
                </a>
            </li>

            <li>
                <a class="list-group-item"
                   href="#!/user/{{model.userID}}/website/{{model.webID}}/page/{{model.pageID}}/widget/new">
                    Data Table
                </a>
            </li>

            <li>
                <a class="list-group-item"
                   href="#!/user/{{model.userID}}/website/{{model.webID}}/page/{{model.pageID}}/widget/new">
                    Repeater
                </a>
            </li>
        </ul>
    </div>

    <nav class="navbar navbar-page-color navbar-fixed-bottom">

        <div class="navbar-header">


            <a class="navbar-brand"></a>

            <a href="#!/profile">
                <span class="pull-right glyphicon glyphicon-user ab-black-icons btn-lg"></span>
            </a>

        </div>

    </nav>

</body>
