<nav class="navbar navbar-page-color navbar-fixed-top">

    <div class="navbar-header">

        <a href="#!/user/{{model.userID}}/website/{{model.webID}}/page/{{model.pageID}}/widget">
            <span class="pull-left glyphicon glyphicon-chevron-left ab-black-icons btn-lg"></span>
        </a>

        <a class="navbar-brand">Edit Widget</a>

        <a ng-click="model.updateWidget(model.widget)">
            <span class="pull-right glyphicon glyphicon-ok ab-black-icons btn-lg"></span>
        </a>

    </div>

</nav>


<div class="container-fluid">

    <label for="widgetName">Name</label>
    <input name="widgetName"
           class="form-control"
           ng-model="model.widget.name"
           placeholder="Name"
           id="widgetName"/>

    <label for="widgetText">Text</label>
    <input name="widgetText"
           class="form-control"
           ng-model="model.widget.text"
           placeholder="Text"
           id="widgetText"/>

    <label for="widgetRows">Rows</label>
    <input name="widgetRows"
           type="number"
           class="form-control"
           ng-model="model.widget.rows"
           placeholder="4"
           id="widgetRows"/>

    <label for="widgetPlaceholder">Placeholder</label>
    <input name="widgetPlaceholder"
           class="form-control"
           ng-model="model.widget.placeholder"
           id="widgetPlaceholder"/>

    <label for="widgetFormatted">Formatted</label>
    <input name="widgetFormatted"
           ng-model="model.widget.formatted"
           type="checkbox"
           id="widgetFormatted"/>

    <a class="btn btn-block btn-danger" ng-click="model.deleteWidget(model.widgetID)" role="button">Delete</a>

</div>


<nav class="navbar navbar-page-color navbar-fixed-bottom">

    <div class="navbar-header">

        <a class="navbar-brand"></a>

        <a href="#!/profile/{{model.userID}}">
            <span class="pull-right glyphicon glyphicon-user ab-black-icons btn-lg"></span>
        </a>

    </div>

</nav>



