<nav class="navbar navbar-default navbar-fixed-top">

    <a class="navbar-brand navbar-left" href="#!">
        <img class="ab-home-navbar-logo"
             src="http://bhavsar-alark-webdev.herokuapp.com/project/logos/bK-medium-208px.png">
    </a>


</nav>

<div class="container-fluid">

    <div ng-show="model.errorMessage" class="alert alert-danger">
        {{model.errorMessage}}
    </div>

    <h2 class="ab-text">Register</h2>

    <label class="ab-text" for="username">Username</label>
    <input name="username"
           ng-model="user.username"
           class="form-control"
           placeholder="username"
           id="username"/>

    <label class="ab-text" for="firstName">First Name</label>
    <input name="firstName"
           ng-model="user.firstName"
           class="form-control"
           placeholder="Charlie"
           id="firstName"/>

    <label class="ab-text" for="lastName">Last Name</label>
    <input name="lastName"
           ng-model="user.lastName"
           class="form-control"
           placeholder="Charlie"
           id="lastName"/>

    <label class="ab-text" for="password">Password</label>
    <input name="password"
           type="password"
           ng-model="user.password"
           class="form-control"
           placeholder="password"
           id="password"/>

    <label class="ab-text" for="password2">Verify Password</label>
    <input name="password2"
           type="password"
           ng-model="user.password2"
           class="form-control"
           placeholder="verify password"
           id="password2"/>

    <a class="btn btn-block btn-primary"
       ng-click="model.registerUser(user)"
       role="button">Register</a>

    <a class="btn btn-block btn-danger"
       href="#!/login"
       role="button">Cancel</a>
</div>
